// BooleanFilter represents filter conditions for bool fields
type BooleanFilter struct {
	Equals    *bool `json:"equals,omitempty"`
	NotEquals *bool `json:"notEquals,omitempty"`
	IsNull    *bool `json:"isNull,omitempty"`
	IsNotNull *bool `json:"isNotNull,omitempty"`
}

