
type BytesFilters struct{}

func (BytesFilters) Equals(value []byte) *BytesFilter {
	return &BytesFilter{Equals: &value}
}

func (BytesFilters) NotEquals(value []byte) *BytesFilter {
	return &BytesFilter{NotEquals: &value}
}

func (BytesFilters) IsNull() *BytesFilter {
	return &BytesFilter{IsNull: boolPtr(true)}
}

func (BytesFilters) IsNotNull() *BytesFilter {
	return &BytesFilter{IsNotNull: boolPtr(true)}
}
