
type DateTimeFilters struct{}

func (DateTimeFilters) Equals(value time.Time) *DateTimeFilter {
	return &DateTimeFilter{Equals: &value}
}

func (DateTimeFilters) NotEquals(value time.Time) *DateTimeFilter {
	return &DateTimeFilter{NotEquals: &value}
}

func (DateTimeFilters) Gt(value time.Time) *DateTimeFilter {
	return &DateTimeFilter{Gt: &value}
}

func (DateTimeFilters) Gte(value time.Time) *DateTimeFilter {
	return &DateTimeFilter{Gte: &value}
}

func (DateTimeFilters) Lt(value time.Time) *DateTimeFilter {
	return &DateTimeFilter{Lt: &value}
}

func (DateTimeFilters) Lte(value time.Time) *DateTimeFilter {
	return &DateTimeFilter{Lte: &value}
}

func (DateTimeFilters) IsNull() *DateTimeFilter {
	return &DateTimeFilter{IsNull: boolPtr(true)}
}

func (DateTimeFilters) IsNotNull() *DateTimeFilter {
	return &DateTimeFilter{IsNotNull: boolPtr(true)}
}
