{{if .NeededFilters.StringFilter}}// StringFilterHelper provides methods to create StringFilter instances
type StringFilterHelper struct{}

func (StringFilterHelper) Equals(v string) *StringFilter {
	return &StringFilter{Equals: &v}
}

func (StringFilterHelper) NotEquals(v string) *StringFilter {
	return &StringFilter{NotEquals: &v}
}

func (StringFilterHelper) Contains(v string) *StringFilter {
	return &StringFilter{Contains: &v}
}

func (StringFilterHelper) StartsWith(v string) *StringFilter {
	return &StringFilter{StartsWith: &v}
}

func (StringFilterHelper) EndsWith(v string) *StringFilter {
	return &StringFilter{EndsWith: &v}
}

func (StringFilterHelper) ContainsInsensitive(v string) *StringFilter {
	return &StringFilter{ContainsInsensitive: &v}
}

func (StringFilterHelper) StartsWithInsensitive(v string) *StringFilter {
	return &StringFilter{StartsWithInsensitive: &v}
}

func (StringFilterHelper) EndsWithInsensitive(v string) *StringFilter {
	return &StringFilter{EndsWithInsensitive: &v}
}

func (StringFilterHelper) In(v []string) *StringFilter {
	return &StringFilter{In: v}
}

func (StringFilterHelper) NotIn(v []string) *StringFilter {
	return &StringFilter{NotIn: v}
}

func (StringFilterHelper) IsNull() *StringFilter {
	t := true
	return &StringFilter{IsNull: &t}
}

func (StringFilterHelper) IsNotNull() *StringFilter {
	t := true
	return &StringFilter{IsNotNull: &t}
}
{{end}}
{{if .NeededFilters.IntFilter}}// IntFilterHelper provides methods to create IntFilter instances
type IntFilterHelper struct{}

func (IntFilterHelper) Equals(v int) *IntFilter {
	return &IntFilter{Equals: &v}
}

func (IntFilterHelper) NotEquals(v int) *IntFilter {
	return &IntFilter{NotEquals: &v}
}

func (IntFilterHelper) Gt(v int) *IntFilter {
	return &IntFilter{Gt: &v}
}

func (IntFilterHelper) Gte(v int) *IntFilter {
	return &IntFilter{Gte: &v}
}

func (IntFilterHelper) Lt(v int) *IntFilter {
	return &IntFilter{Lt: &v}
}

func (IntFilterHelper) Lte(v int) *IntFilter {
	return &IntFilter{Lte: &v}
}

func (IntFilterHelper) In(v []int) *IntFilter {
	return &IntFilter{In: v}
}

func (IntFilterHelper) NotIn(v []int) *IntFilter {
	return &IntFilter{NotIn: v}
}

func (IntFilterHelper) IsNull() *IntFilter {
	t := true
	return &IntFilter{IsNull: &t}
}

func (IntFilterHelper) IsNotNull() *IntFilter {
	t := true
	return &IntFilter{IsNotNull: &t}
}
{{end}}
{{if .NeededFilters.FloatFilter}}// FloatFilterHelper provides methods to create FloatFilter instances
type FloatFilterHelper struct{}

func (FloatFilterHelper) Equals(v float64) *FloatFilter {
	return &FloatFilter{Equals: &v}
}

func (FloatFilterHelper) NotEquals(v float64) *FloatFilter {
	return &FloatFilter{NotEquals: &v}
}

func (FloatFilterHelper) Gt(v float64) *FloatFilter {
	return &FloatFilter{Gt: &v}
}

func (FloatFilterHelper) Gte(v float64) *FloatFilter {
	return &FloatFilter{Gte: &v}
}

func (FloatFilterHelper) Lt(v float64) *FloatFilter {
	return &FloatFilter{Lt: &v}
}

func (FloatFilterHelper) Lte(v float64) *FloatFilter {
	return &FloatFilter{Lte: &v}
}

func (FloatFilterHelper) In(v []float64) *FloatFilter {
	return &FloatFilter{In: v}
}

func (FloatFilterHelper) NotIn(v []float64) *FloatFilter {
	return &FloatFilter{NotIn: v}
}

func (FloatFilterHelper) IsNull() *FloatFilter {
	t := true
	return &FloatFilter{IsNull: &t}
}

func (FloatFilterHelper) IsNotNull() *FloatFilter {
	t := true
	return &FloatFilter{IsNotNull: &t}
}
{{end}}
{{if .NeededFilters.BooleanFilter}}// BoolFilterHelper provides methods to create BooleanFilter instances
type BoolFilterHelper struct{}

func (BoolFilterHelper) Equals(v bool) *BooleanFilter {
	return &BooleanFilter{Equals: &v}
}

func (BoolFilterHelper) NotEquals(v bool) *BooleanFilter {
	return &BooleanFilter{NotEquals: &v}
}

func (BoolFilterHelper) IsNull() *BooleanFilter {
	t := true
	return &BooleanFilter{IsNull: &t}
}

func (BoolFilterHelper) IsNotNull() *BooleanFilter {
	t := true
	return &BooleanFilter{IsNotNull: &t}
}
{{end}}
{{if .NeededFilters.DateTimeFilter}}// DateTimeFilterHelper provides methods to create DateTimeFilter instances
type DateTimeFilterHelper struct{}

func (DateTimeFilterHelper) Equals(v time.Time) *DateTimeFilter {
	return &DateTimeFilter{Equals: &v}
}

func (DateTimeFilterHelper) NotEquals(v time.Time) *DateTimeFilter {
	return &DateTimeFilter{NotEquals: &v}
}

func (DateTimeFilterHelper) Gt(v time.Time) *DateTimeFilter {
	return &DateTimeFilter{Gt: &v}
}

func (DateTimeFilterHelper) Gte(v time.Time) *DateTimeFilter {
	return &DateTimeFilter{Gte: &v}
}

func (DateTimeFilterHelper) Lt(v time.Time) *DateTimeFilter {
	return &DateTimeFilter{Lt: &v}
}

func (DateTimeFilterHelper) Lte(v time.Time) *DateTimeFilter {
	return &DateTimeFilter{Lte: &v}
}

func (DateTimeFilterHelper) IsNull() *DateTimeFilter {
	t := true
	return &DateTimeFilter{IsNull: &t}
}

func (DateTimeFilterHelper) IsNotNull() *DateTimeFilter {
	t := true
	return &DateTimeFilter{IsNotNull: &t}
}
{{end}}
{{if .NeededFilters.JsonFilter}}// JsonFilterHelper provides methods to create JsonFilter instances
type JsonFilterHelper struct{}

func (JsonFilterHelper) Equals(v []byte) *JsonFilter {
	raw := json.RawMessage(v)
	return &JsonFilter{Equals: &raw}
}

func (JsonFilterHelper) NotEquals(v []byte) *JsonFilter {
	raw := json.RawMessage(v)
	return &JsonFilter{NotEquals: &raw}
}

func (JsonFilterHelper) IsNull() *JsonFilter {
	t := true
	return &JsonFilter{IsNull: &t}
}

func (JsonFilterHelper) IsNotNull() *JsonFilter {
	t := true
	return &JsonFilter{IsNotNull: &t}
}
{{end}}
{{if .NeededFilters.BytesFilter}}// BytesFilterHelper provides methods to create BytesFilter instances
type BytesFilterHelper struct{}

func (BytesFilterHelper) Equals(v []byte) *BytesFilter {
	return &BytesFilter{Equals: v}
}

func (BytesFilterHelper) NotEquals(v []byte) *BytesFilter {
	return &BytesFilter{NotEquals: v}
}

func (BytesFilterHelper) IsNull() *BytesFilter {
	t := true
	return &BytesFilter{IsNull: &t}
}

func (BytesFilterHelper) IsNotNull() *BytesFilter {
	t := true
	return &BytesFilter{IsNotNull: &t}
}
{{end}}
