
type FloatFilters struct{}

func (FloatFilters) Equals(value float64) *FloatFilter {
	return &FloatFilter{Equals: &value}
}

func (FloatFilters) NotEquals(value float64) *FloatFilter {
	return &FloatFilter{NotEquals: &value}
}

func (FloatFilters) Gt(value float64) *FloatFilter {
	return &FloatFilter{Gt: &value}
}

func (FloatFilters) Gte(value float64) *FloatFilter {
	return &FloatFilter{Gte: &value}
}

func (FloatFilters) Lt(value float64) *FloatFilter {
	return &FloatFilter{Lt: &value}
}

func (FloatFilters) Lte(value float64) *FloatFilter {
	return &FloatFilter{Lte: &value}
}

func (FloatFilters) In(values ...float64) *FloatFilter {
	return &FloatFilter{In: values}
}

func (FloatFilters) NotIn(values ...float64) *FloatFilter {
	return &FloatFilter{NotIn: values}
}

func (FloatFilters) IsNull() *FloatFilter {
	return &FloatFilter{IsNull: boolPtr(true)}
}

func (FloatFilters) IsNotNull() *FloatFilter {
	return &FloatFilter{IsNotNull: boolPtr(true)}
}
