
var Strings StringFilters
var Int IntFilters
{{if .NeededFilters.Int64Filter}}var Int64 Int64Filters
{{end}}var Float FloatFilters
var Boolean BooleanFilters
var DateTime DateTimeFilters
{{if .NeededFilters.JsonFilter}}var Json JsonFilters
{{end}}{{if .NeededFilters.BytesFilter}}var Bytes BytesFilters
{{end}}
func boolPtr(b bool) *bool {
	return &b
}
