
type IntFilters struct{}

func (IntFilters) Equals(value int) *IntFilter {
	return &IntFilter{Equals: &value}
}

func (IntFilters) NotEquals(value int) *IntFilter {
	return &IntFilter{NotEquals: &value}
}

func (IntFilters) Gt(value int) *IntFilter {
	return &IntFilter{Gt: &value}
}

func (IntFilters) Gte(value int) *IntFilter {
	return &IntFilter{Gte: &value}
}

func (IntFilters) Lt(value int) *IntFilter {
	return &IntFilter{Lt: &value}
}

func (IntFilters) Lte(value int) *IntFilter {
	return &IntFilter{Lte: &value}
}

func (IntFilters) In(values ...int) *IntFilter {
	return &IntFilter{In: values}
}

func (IntFilters) NotIn(values ...int) *IntFilter {
	return &IntFilter{NotIn: values}
}

func (IntFilters) IsNull() *IntFilter {
	return &IntFilter{IsNull: boolPtr(true)}
}

func (IntFilters) IsNotNull() *IntFilter {
	return &IntFilter{IsNotNull: boolPtr(true)}
}
