// Int64 helper functions for Int64Filter

func Int64(value int64) *Int64Filter {
	return &Int64Filter{Equals: &value}
}

func Int64Gt(value int64) *Int64Filter {
	return &Int64Filter{Gt: &value}
}

func Int64Gte(value int64) *Int64Filter {
	return &Int64Filter{Gte: &value}
}

func Int64Lt(value int64) *Int64Filter {
	return &Int64Filter{Lt: &value}
}

func Int64Lte(value int64) *Int64Filter {
	return &Int64Filter{Lte: &value}
}

func Int64In(values ...int64) *Int64Filter {
	return &Int64Filter{In: values}
}

func Int64NotIn(values ...int64) *Int64Filter {
	return &Int64Filter{NotIn: values}
}

