// DateTime helper functions for DateTimeFilter

func DateTime(value time.Time) *inputs.DateTimeFilter {
	return &inputs.DateTimeFilter{Equals: &value}
}

func DateTimeGt(value time.Time) *inputs.DateTimeFilter {
	return &inputs.DateTimeFilter{Gt: &value}
}

func DateTimeGte(value time.Time) *inputs.DateTimeFilter {
	return &inputs.DateTimeFilter{Gte: &value}
}

func DateTimeLt(value time.Time) *inputs.DateTimeFilter {
	return &inputs.DateTimeFilter{Lt: &value}
}

func DateTimeLte(value time.Time) *inputs.DateTimeFilter {
	return &inputs.DateTimeFilter{Lte: &value}
}

