// String helper functions for StringFilter

func Contains(value string) *inputs.StringFilter {
	return &inputs.StringFilter{Contains: &value}
}

func StartsWith(value string) *inputs.StringFilter {
	return &inputs.StringFilter{StartsWith: &value}
}

func EndsWith(value string) *inputs.StringFilter {
	return &inputs.StringFilter{EndsWith: &value}
}

func ContainsInsensitive(value string) *inputs.StringFilter {
	return &inputs.StringFilter{ContainsInsensitive: &value}
}

func StartsWithInsensitive(value string) *inputs.StringFilter {
	return &inputs.StringFilter{StartsWithInsensitive: &value}
}

func EndsWithInsensitive(value string) *inputs.StringFilter {
	return &inputs.StringFilter{EndsWithInsensitive: &value}
}

func String(value string) *inputs.StringFilter {
	return &inputs.StringFilter{Equals: &value}
}

func StringIn(values ...string) *inputs.StringFilter {
	return &inputs.StringFilter{In: values}
}

func StringNotIn(values ...string) *inputs.StringFilter {
	return &inputs.StringFilter{NotIn: values}
}

