
var (
	ErrNotFound             = {{.UtilsPackageName}}.ErrNotFound
	ErrUniqueConstraint     = {{.UtilsPackageName}}.ErrUniqueConstraint
	ErrForeignKeyConstraint = {{.UtilsPackageName}}.ErrForeignKeyConstraint
	ErrNullConstraint       = {{.UtilsPackageName}}.ErrNullConstraint
	ErrRawQueryFailed       = {{.UtilsPackageName}}.ErrRawQueryFailed
	ErrTimeout              = {{.UtilsPackageName}}.ErrTimeout
	ErrConnectionFailed     = {{.UtilsPackageName}}.ErrConnectionFailed
)

func IsNotFound(err error) bool {
	return {{.UtilsPackageName}}.IsNotFound(err)
}

func IsUniqueConstraint(err error) bool {
	return {{.UtilsPackageName}}.IsUniqueConstraint(err)
}

func IsForeignKeyConstraint(err error) bool {
	return {{.UtilsPackageName}}.IsForeignKeyConstraint(err)
}

func mapQueryError(err error) error {
	return {{.UtilsPackageName}}.MapDriverError(err, "Query")
}

func mapQueryRowError(err error) error {
	return {{.UtilsPackageName}}.MapDriverError(err, "QueryRow")
}

func mapExecError(err error) error {
	return {{.UtilsPackageName}}.MapDriverError(err, "Exec")
}
